.carousel-caption h1 {
    font-size: 400%;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption p {
    font-size: 200%;
    text-shadow: 1px 1px 15px #000;
}

@media only screen and (max-width:768px) {}